<h1 class="text-primary">@<%= current_user.username %>'s Twitter Feed</h1>
<p>Here is what your friends are posting: </p>

<div>
	<% @following_tweets.each do |t| %>
	<div>
		<p>@<%= link_to t.user.username, show_user_path(id: t.user.id) %></p>
		<p><%= t.message.html_safe %></p>
	</div>
	<% end %>
</div>
